high_res: true
mode: radio
source_id: onyourwave
station_settings:
  onyourwave:
    diversity: discover
    language: without-words
    mood_energy: calm
token: ----
visualizer: cava-vis
volume: 1.0
